 .card {
    border-radius: 0px;
    margin-bottom: 0;
    margin-top: 0px;
    padding-top: 20px;
    height: 100%;
    cursor: pointer;
}

.section__body {
    height: 275px;
    margin-bottom: 44px;
    padding: 0 20px;
}


.section__body__image {
    height: 250px;
    width: 200px;
    padding: 20px 20px;
}

.section__header {
    font-size: 21px;
    padding: 0 20px;
    color: #000;
}

.section__footer {
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.section__footer .footer__inner {
    cursor: pointer;
    color: #007185;
}

.footer__inner:hover {
    color: #E47911;
    text-decoration: underline;

}

